In [1]:
# Import dependencies

import pandas as pd
from sqlalchemy import create_engine
from pg_keys import pg_key

#  Extract CSVs into DataFrames

In [2]:
# Import CSV file into DataFrame
csv_file = 'Resources/credits.csv'
credits = pd.read_csv(csv_file)
credits

,person_id,id,name,character,role
0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...
77208,1347054,tm1098060,Nnenna Rachael Okonkwo,Afinni,ACTOR
77209,157590,tm1098060,Lucien Morgan,Dr. Ian Stones,ACTOR
77210,129059,tm1098060,Magdalena Korpas,Jane,ACTOR
77211,2050199,tm1098060,Mistura Olusanya,Nurse Titi,ACTOR
77212,2050423,tm1098060,Yemi Amodu,NaN,DIRECTOR

In [5]:
# Import CSV file into DataFrame
csv_file = 'Resources/titles.csv'
titles = pd.read_csv(csv_file)
titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

# Transform credits and titles DataFrames

In [ ]:
# Rename Column id to movie_id
credits = credits.rename(columns={'id': 'movie_id'})
credits

In [ ]:
# Rename Column id to movie_id
titles = titles.rename(columns={'id': 'movie_id'})
titles

In [ ]:
# Merge the two DataFrames to create joined table
titles_credits = titles.merge(credits, on = 'movie_id', how = 'left')
titles_credits.head()

# Create DataBase connection

In [ ]:
# Create connection
engine = create_engine(f'postgresql://postgres:{pg_key}@localhost/netflix_db')
connection = engine.connect()

# Load DataFrames into database

In [ ]:
# Load credits DataFrame onto Netflix Database
credits.to_sql('credits', engine, index=True)

In [ ]:
# Make the index the primary key as movie and person id are duplicated
connection.execute('ALTER TABLE credits ADD PRIMARY KEY ("index");')

In [ ]:
# Load titles DataFrame onto Netflix Database as table
titles.to_sql('titles', engine, index=True)

In [ ]:
# Make the index the primary key as movie and person id are duplicated
connection.execute('ALTER TABLE titles ADD PRIMARY KEY ("index");')

In [ ]:
# Load  merged titles_credits DataFrame onto Netflix Database as table
titles_credits.to_sql('titles_credits', engine, index=True)

In [ ]:
# Make the index the primary key as movie and person id are duplicated
connection.execute('ALTER TABLE titles_credits ADD PRIMARY KEY ("index");')