In [ ]:
# Import dependencies

import pandas as pd
from sqlalchemy import create_engine
from pg_keys import pg_key
import numpy as np
import ast
import random

#  Extract CSVs into DataFrames

In [ ]:
# Import CSV file into DataFrame
csv_file = 'Resources/credits.csv'
credits = pd.read_csv(csv_file)
credits

In [ ]:
# Import CSV file into DataFrame
csv_file = 'Resources/titles.c
titles = pd.read_csv(csv_file)sv'
titles

# Transform credits and titles DataFrames

In [ ]:
# Rename Column id to movie_id
credits = credits.rename(columns={'id': 'movie_id'})
credits

In [ ]:
# Rename Column id to movie_id
titles = titles.rename(columns={'id': 'movie_id'})
titles

In [ ]:
# Cleaning titles Pandas DataFrame getting rid of certain NaN column values and keeping the relavant ones 
# eg NaN for movies which don't have seasons etc
def repair_array_bound_categories(arr):
    arr = ast.literal_eval(arr)
    
    if len(arr) == 0:
        return np.nan
    
    elif len(arr) == 1:
        return arr[0]
    
    else:
        return random.choice(arr)

In [ ]:
# DataFRame titles columns Production Countries and Genre showing as arrays repaired using NumPy
titles["production_countries"] = titles["production_countries"].apply(repair_array_bound_categories)
titles["genres"] = titles["genres"].apply(repair_array_bound_categories)

In [ ]:
# Merge the two final DataFrames to create a single DataFrame
titles_credits = titles.merge(credits, on = 'movie_id', how = 'left')
titles_credits.head()

# Create Database connection

In [ ]:
# Create connection
engine = create_engine(f'postgresql://postgres:{pg_key}@localhost/netflix_db')
connection = engine.connect()

# Load the 3 DataFrames into Netflix Database

In [ ]:
# Load credits DataFrame onto Netflix Database
credits.to_sql('credits', engine, index=True)

In [ ]:
# Make the index the primary key as movie and person id are duplicated
connection.execute('ALTER TABLE credits ADD PRIMARY KEY ("index");')

In [ ]:
# Load titles DataFrame onto Netflix Database as table
titles.to_sql('titles', engine, index=True)

In [ ]:
# Make the index the primary key as movie and person id are duplicated
connection.execute('ALTER TABLE titles ADD PRIMARY KEY ("index");')

In [ ]:
# Load  merged titles_credits DataFrame onto Netflix Database as table
titles_credits.to_sql('titles_credits', engine, index=True)

In [ ]:
# Make the index the primary key as movie and person id are duplicated
connection.execute('ALTER TABLE titles_credits ADD PRIMARY KEY ("index");')